/**
 *==================================================
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 2020
 *
 *==================================================
 */

.price-filter {
  .price-go {
    padding: 0 20px !important;
    line-height: 43px;
    width: 30px;
    min-width: auto;
  }
}

.StyledNumberInput {
  width: 96px;
  margin-right: 10px;
}
