node_modules/
build/
dist/
.gradle/
**/.history/
public/
!assets/**/public/
tools/.config/
.storybook/dist/
.vscode/launch.json
coverage/
.env.production
.env.development
.env.development.local
.env.test.local
.eslintcache
tools/docker-compose.yaml
tools/source-map-explorer*
react-store/
**/.DS_Store
debug.log
*.tgz
