# This is a basic workflow to help you get started with Actions

name: AppScan on Cloud SAST workflow

# Controls when the action will run. 
on: [push]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "scan"
  Scan:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Main Repo
        uses: actions/checkout@v2
        with:
          path: main
        
      - name: Checkout ASoC SAST Repo
        uses: actions/checkout@v2
        with:
          repository: jonniefivebikes/asoc-sast-linux
          path: asoc
        
      # Runs a set of commands using the runners shell
      - name: Check Python Version
        run: |
          python3 --version
        shell: bash
        
      # Check working directory
      - name: Show Working Directory
        run: |
          pwd
        shell: bash
        
      # Runs AppScan Step
      - name: Perform HCL AppScan Security Analysis
        env:
          ASOC_KEY: ${{ secrets.ASOC_KEY }}
          ASOC_SECRET: ${{ secrets.ASOC_SECRET }}
          ASOC_SCAN_NAME: Automated Scan from Github Actions
          ASOC_APPID: ${{ secrets.ASOC_APPID }}
          ASOC_TARGET_DIR: main
          ASOC_WAIT: True
          SONAR_ANALYSIS_BUILDURL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          
        run: |
          python3 asoc/RunSAST.py
        shell: bash
        
      - uses: actions/upload-artifact@v2
        with:
          name: hcl_appscan_results
          path: reports/

  ASOCTrigger:
    name: ASOC CodeSweep Trigger
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run AppScan CodeSweep
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v1
        with:
          asoc_key: ${{secrets.ASOC_KEY}}
          asoc_secret: ${{secrets.ASOC_SECRET}}
        env: 
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
 
        
        




  
